.cache/*
auto-save-list/*
elpa/*
recentf
eshell/*
elpy/*
tramp
transient/*
autosaves/
.dap-breakpoints
.lsp-session-v1
.mc-lists.el
logview-cache.extmap
projectile-bookmarks.eld
/.agent-shell/
*.elc
.emacs.desktop
.emacs.desktop.lock
.persistent-scratch
agent/
eln-cache/
url/
projects
